* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  padding: 20px;
  font-family: Roboto, Arial, sans-serif;
  background-color: #FDFFFC;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.section {
  outline: 1px solid #E9E3E6;
  flex: 0 49%;
  padding: 20px;
}

.section-title {
  color: #011627;
  text-align: center;
  margin-bottom: 30px;
}

.list {
  list-style-position: inside;
  font-size: 20px;
}

.list-item {
  margin-bottom: 10px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-link {
  padding: 5px;
  color: #336699;
}

.list-link:hover, .list-link:focus {
  color: #ED6A5A;
}
