* {
	box-sizing: border-box;
}

p, ul, a {
	font-size: 18px;
}

h2 {
	width: 100%;
}

h3 {
	font-size: 20px;
}

.intro {
	position: relative;
	background-image: url('pictures/intro.jpg');
	background-size: cover;
}

.intro h2 {
	position: absolute;
	top: 65%;
	font-size: 100px;
	color: #333;

}

/* $ide */
.ide {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
}

.slide__column {
	width: 50%;
}

/* $console */
.console {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.console a {
	font-size: 22px;
	margin-bottom: 20px;
}

.console a:last-child {
	margin-bottom: 0;
}

/* $async-scripts */
.async-scripts p, .async-scripts code {
	font-size: 18px;
}

.vars p, .vars figure {
	font-size: 16px;
}

.vars figure {
	display: inline-block;
	width: 40%;
	text-align: center;
}

.vars figure:last-child {
	margin-right: 0;
}

/* $data-types */
.data-types ul {
	font-size: 22px !important;
}

/* $operators */
.operators h3 {
	font-size: 20px;
}

.operators code {
	font-size: 20px;
}

/* $comparison */
.comparison ul {
	font-size: 20px;
}

/* $boolean */
.boolean ul {
	font-size: 20px;
}

/* $user-input */
.user-input ul {
	font-size: 24px;
}

/* $if, $else, $else-if */
.if p, .else p, .else-if p {
	font-size: 20px;
}

.else-if code {
	font-size: 20px;
}

/* $ bool */

.bool p, .bool ul, .bool code {
	font-size: 14px;
}

.bool p, .bool pre {
	line-height: 1;
}

.bool pre {
	margin-bottom: 10px;
}

/* $loops */

.loops code {
	font-size: 18px;
}

.loops ul {
	font-size: 16px;
}

.for code {
	font-size: 15px;
}

/* $arrays */
.arrays ul, .arrays code {
	font-size: 16px;
}

/* $objects */

.objects p, .objects code {
	font-size: 16px;
}

/* $functions */

.functions code {
	font-size: 16px;
}

/* $return */

.return ul {
	font-size: 14px;
}

/* $hw */

.hw ul {
	font-size: 16px;
}
