.intro p {
  font-size: 30px;
}

.second p {
  font-size: 20px;
  line-height: 1.3;
}

.second h3 {
  font-size: 30px;
}

.second li {
  font-size: 20px;
}

.sixth p, .sixth ul {
  font-size: 20px;
}

.sixth .pref {
  display: inline-block;
  width: 55%;
  margin-right: 5%;
}

.sixth .example {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  margin-right: 0;
}

.sixth .example li::before {
  content: '';
}
