* {
  box-sizing: border-box;
}

p, ul, a, code {
  font-size: 16px;
}

h2 {
  width: 100%;
}

h3 {
  font-size: 20px;
}

.intro {
  position: relative;
  background-image: url('pictures/intro.jpg');
  background-size: cover;
}

.intro h2 {
  position: absolute;
  top: 65%;
  font-size: 100px;
  width: 50%;
  color: #333;
}

.dom img {
  display: block;
  width: 100%;
}

.webpage li p {
  font-size: 10px;
  text-indent: 20px;
}

.selectors img {
  display: block;
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.inner-html p, .inner-html code {
  font-size: 14px;
}

.frag code {
  font-size: 14px;
}

.tests img {
  display: block;
  width: 95%;
}

.reflow-repaint p, .reflow-repaint li {
  font-size: 12px;
}

.reflow-repaint .reasons {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.reflow-repaint .links {
  display: inline-block;
}
