* {
  box-sizing: border-box;
}

p, ul, a, code {
  font-size: 16px;
}

h3 {
  font-size: 20px;
}

.intro {
  position: relative;
  background-image: url('pictures/intro.jpg');
  background-size: cover;
}

.intro h2 {
  position: absolute;
  top: 75%;
  font-size: 100px;
  width: 50%;
  color: #333;
}

.text-small p, .text-small code, .text-small ul {
  font-size: 14px;
}

.text-small h3 {
  font-size: 18px;
}
